{% for media in medias.data %}
    <div class="col-sm-3 col-md-2">
        <div class="thumbnail">
            <img src="{{ media.images.thumbnail.url }}" class="img-responsive img-circle" alt="">
            <div class="caption">
                <h4><a href="{{ media.link }}" target="_blank">{{ media.caption.text|truncate(10, true, '...') }}</a></h4>
                <p>Le {{ media.caption.created_time|date('d-m-Y \à H:i:s') }}</p>
            </div>
        </div>
    </div>
{% endfor %}